# =========================
# Raw datasets
# =========================
data/raw/india_air_quality/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual environments
# =========================
venv/
.venv/
env/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Environment / secrets
# =========================
.env
.env.*

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary files
# =========================
*.tmp
*.temp